<div class="instruction-text">
<p>Write your secret code in the code box to change the picture.<br />
The instructions in the code box will tell you what to type.<br />
When you are happy with your message, click the Send button.
</p>
</div>

<div id="editor">
  <%= @template.content %>
</div>

<div id="message-preview" class="template-<%= @template.id %>">
  <iframe id ="myframe" src="<%= template_path(@template.id) %>"></iframe>
</div>
  <%= form_for(@message) do |f| %>

  <%=f.hidden_field :template_id, value: @template.id %>
  <%=f.submit%>
  <% end %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html");
</script>
