<div class="instruction-text">
<p>Write your secret code in the code box to change the picture.<br />
The instructions in <span class="yellow-text">yellow</span> will tell you what to change.<br />
When you are done, click the Create Message button below.
</p>
</div>

<div id="editor">
  <%= @template.content %>
</div>

<div id="message-preview" class="template-<%= @template.id %>">
  <iframe id ="myframe" src="<%= template_path(@template.id) %>"></iframe>
</div>

<div class="create-message-button">
<%= form_for(@message) do |f| %>
  <%=f.hidden_field :template_id, value: @template.id %>
  <%=f.submit%>
<% end %>
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html");
</script>
