<%=form_for @secret.algorithm do |f| %>
  <%= f.text_field :answer, value: "" %>
  <%=f.hidden_field :secret_id, value: @secret.id %>
  <%= f.submit value: "Submit Answer" %>
<% end %>

<div id="editor">
<%= @secret.algorithm.question %>
<%= @secret.algorithm.answer %>
</div>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/ruby");
</script>
